<div class="responsive-form" ng-controller="ratesForm">
    <h1 class="header-form">Create a Rate Alert</h1>
    <div class="form-container">
        <form name="rateForm">
            <div class="buy input-container">
                <label style="display: block" for="buy">Enter buy:</label>
                <input type="text" ng-model="values.buy" ng-change="clearFields()" min="0" class="number" id="buy" placeholder="Enter value min 5000">
                <select ng-model="buyCurrency" class="currency">
                    <option selected value="">Select</option>
                    <option  ng-repeat="data in currencies | currencyFilter:sellCurrency" value="{{data}}" min="0" ng-min="0">{{data}}</option>
                </select>
            </div>
            <div class="sell input-container">
                <label style="display: block" for="sell">Enter sell:</label>
                <input type="text" ng-model="values.sell" ng-change="clearFields()" min="0" ng-min="0" class="number" id="sell" placeholder="Enter value min 5000">
                <select ng-model="sellCurrency" class="currency">
                    <option selected value="" >Select</option>
                    <option selected ng-repeat="data in currencies | currencyFilter:buyCurrency" value="{{data}}">{{data}}</option>
                </select>
            </div>
            <div ng-model="currentButton">
            </div>
            <div class="target-rate-container">
                <h1 class="target-header">Target Rate</h1>
                <input  class="target-rate number" type="text" ng-model="targetRate">
            </div>
            <div class="buttons">
                <button ng-click="nextStepButton(buttonStep)" ng-hide="buttonStep > 0">Book</button>
                <button ng-click="nextStepButton(buttonStep)" ng-show="buttonStep === 1" ng-hide="buttonStep < 1">I agree to the terms and conditions</button>
                <button ng-click="sendRates()" ng-show="buttonStep === 2" ng-hide="buttonStep < 2">Confirm</button>
            </div>
        </form>
    </div>
</div>
